<section class="price">
    <div class="container">
        <div class="price-content">
            <div class="price-header">
                <h2 class="title price-header__title">Стоимость аренды</h2>
                <p class="txt price-header__descr">Вместимость комнаты от 2 до 35 человек</p>
            </div>
            <div class="price-cards">
                <div class="price-card">
                    <div class="price-card__days">
                        <p>Пн-Чт</p>
                    </div>
                    <div class="price-card__time">
                        <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                        <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                    </div>
                    <div class="price-card__time">
                        <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                        <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                    </div>
                    <p class="price-card__descr white-txt"><i>*при бронировании комнаты на 3 часа, 4-ый час <span class="brand-txt">БЕСПЛАТНО</span></i></p>
                    {{> button class="price-card__btn" text="забронировать"}}
                </div>
                <div class="price-card">
                    <div class="price-card__days">
                        <p>Пн-Чт</p>
                    </div>
                    <div class="price-card__time">
                        <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                        <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                    </div>
                    <div class="price-card__time">
                        <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                        <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                    </div>
                    <p class="price-card__descr white-txt"><i>*при бронировании комнаты на 3 часа, 4-ый час <span class="brand-txt">БЕСПЛАТНО</span></i></p>
                    {{> button class="price-card__btn" text="забронировать"}}
                </div>
                <div class="price-card">
                    <div class="price-card__days">
                        <p>Пн-Чт</p>
                    </div>
                    <div class="price-card__time">
                        <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                        <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                    </div>
                    <div class="price-card__time">
                        <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                        <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                    </div>
                    <p class="price-card__descr white-txt"><i>*при бронировании комнаты на 3 часа, 4-ый час <span class="brand-txt">БЕСПЛАТНО</span></i></p>
                    {{> button class="price-card__btn" text="забронировать"}}
                </div>
            </div>
            <div class="price-slider">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide price-slider__item">
                            <div class="price-card">
                                <div class="price-card__days">
                                    <p>Пн-Чт</p>
                                </div>
                                <div class="price-card__time">
                                    <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                                    <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                                </div>
                                <div class="price-card__time">
                                    <p class="price-card__time-cost brand-txt">35 руб <span>/ 1h</span></p>
                                    <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                                </div>
                                <p class="price-card__descr white-txt"><i>*при бронировании комнаты на 3 часа, 4-ый час <span class="brand-txt">БЕСПЛАТНО</span></i></p>
                                {{> button class="price-card__btn" text="забронировать"}}
                            </div>
                        </div>
                        <div class="swiper-slide price-slider__item">
                            <div class="price-card">
                                <div class="price-card__days">
                                    <p>Пн-Чт</p>
                                </div>
                                <div class="price-card__time">
                                    <p class="price-card__time-cost brand-txt">50 руб <span>/ 1h</span></p>
                                    <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                                </div>
                                <div class="price-card__time">
                                    <p class="price-card__time-cost brand-txt">60 руб <span>/ 1h</span></p>
                                    <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                                </div>
                                <p class="price-card__descr white-txt"><i>*при бронировании комнаты на 5 часа, 6-ый час <span class="brand-txt">БЕСПЛАТНО</span></i></p>
                                {{> button class="price-card__btn" text="забронировать"}}
                            </div>
                        </div>
                        <div class="swiper-slide price-slider__item">
                            <div class="price-card">
                                <div class="price-card__days">
                                    <p>Пн-Чт</p>
                                </div>
                                <div class="price-card__time">
                                    <p class="price-card__time-cost brand-txt">45 руб <span>/ 1h</span></p>
                                    <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                                </div>
                                <div class="price-card__time">
                                    <p class="price-card__time-cost brand-txt">55 руб <span>/ 1h</span></p>
                                    <p class="price-card__time-range white-txt">08:00 - 17:00</p>
                                </div>
                                <p class="price-card__descr white-txt"><i>*при бронировании комнаты на 4 часа, 5-ый час <span class="brand-txt">БЕСПЛАТНО</span></i></p>
                                {{> button class="price-card__btn" text="забронировать"}}
                            </div>
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="price-slider-btn swiper-btn swiper-btn-prev">{{> icon class="icon--brand" iconSrc="images/icons/arrow-left.svg" iconAlt="arrow-left"}}</div>
                    <div class="price-slider-btn swiper-btn swiper-btn-next">{{> icon class="icon--brand" iconSrc="images/icons/arrow-right.svg" iconAlt="arrow-right"}}</div>
                </div>
            </div>
        </div>
    </div>
</section>