<section class="interested" id="interested">
    <div class="container">
        <div class="interested-content">
            <div class="interested-header">
                <h2 class="title interested-header__title">
                    Что <span class="brand-txt">интересного</span> <br> у нас вы найдете:
                </h2>
                <p class="txt interested-header__descr">
                    У нас широкий выбор развлечений, которые понравятся даже самому искушенному зрителю.
                </p>
            </div>
            <div class="interested-cards">
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-1.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-2.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-3.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-4.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-5.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-6.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-7.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-8.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
                <div class="interested-cards__item">
                    <div class="interested-card">
                        <img class="interested-card__img rounded" src="images/interested/img-9.jpg" alt="img-1">
                        <p class="interested-card__descr white-txt ">Настольный теннис</p>
                    </div>
                </div>
            </div>
            <div class="interested-slider">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-1.jpg" alt="img-1">
                                <p class="interested-card__descr white-txt ">Настольный теннис</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-2.jpg" alt="img-2">
                                <p class="interested-card__descr white-txt ">Большая Дженга</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-3.jpg" alt="img-3">
                                <p class="interested-card__descr white-txt ">Beer-pong</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-4.jpg" alt="img-4">
                                <p class="interested-card__descr white-txt ">Настольный футбол</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-5.jpg" alt="img-5">
                                <p class="interested-card__descr white-txt ">Playstation 4</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-6.jpg" alt="img-6">
                                <p class="interested-card__descr white-txt ">Телефизор 75”</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-7.jpg" alt="img-7">
                                <p class="interested-card__descr white-txt ">Караоке</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-8.jpg" alt="img-8">
                                <p class="interested-card__descr white-txt ">Уникальная игра “Три комнаты”</p>
                            </div>
                        </div>
                        <div class="swiper-slide interested-slider__item">
                            <div class="interested-card">
                                <img class="interested-card__img rounded" src="images/interested/img-9.jpg" alt="img-9">
                                <p class="interested-card__descr white-txt ">Настольные игры</p>
                            </div>
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-btn swiper-btn-prev">{{> icon class="icon--brand" iconSrc="images/icons/arrow-left.svg" iconAlt="arrow-left"}}</div>
                    <div class="swiper-btn swiper-btn-next">{{> icon class="icon--brand" iconSrc="images/icons/arrow-right.svg" iconAlt="arrow-right"}}</div>
                </div>
            </div>
        </div>
    </div>
</section>