<section class="main" id="main">
    <div class="container">
        <h1 class="heading main__title white-txt">Aтмосфера, которую хочется разделить  с близкими</h1>
        <p class="txt main__descr white-txt">День рождения, Новый год, корпоратив, мальчишник, девичник, помолвка,  а также любое самое приятное событие в вашей жизни, которое вы можете провести у нас в Комнате №1 на Богдановича 78 или Комнате №2 на Козлова 22</p>
        {{> button class="main__btn" text="Забронировать"}}
    </div>
</section>