<section class="social">
    <div class="container">
        <div class="social-header">
            <h2 class="title">Мы в Instagram</h2>
            <p class="txt">Мы активно ведем свой профиль в инстаграмм. В комментариях вы найдете самые правдивые отзывы наших любимых клиентов.
                Подписывайтесь на нас, чтобы следить за нашими новосятми и обновлениями. Мы работаем для того, чтобы радовать вас.
            </p>
            {{> link class="btn btn--inst" href="/" text="Подписаться"}}
        </div>
        <div class="social-content"></div>
    </div>
</section>