<section class="about" id="about">
    <div class="container">
        <div class="about-wrapper">
            <div class="about-text">
                <h2 class="title about__title">Коротко о нас</h2>
                <p class="txt about__descr">
                    Мы дружая команда, которая создала пространство для отдыха и проведения мероприятий. Назвали мы наше пространство “Комната”.
                </p>
                <p class="txt about__descr">
                    Для нас очень важно воссоздать домашнюю атмосферу, в которой так приятно провести время
                    с друзьями, родственниками, коллегами, и просто единомышленниками.
                </p>
                {{> link class="btn about__btn" href="#rooms" text="смотреть интерьер"}}
            </div>
            <div class="about-cards">
                <div class="about-cards-wrapper">
                    {{> img-card class="about-cards__item" title="100" additional="M2" descr="Пространство" bgSrc="images/img-cards/card-1.jpg"}}
                    {{> img-card class="about-cards__item" title="24/7" descr="Круглые сутки" bgSrc="images/img-cards/card-1.jpg"}}
                </div>
                <div class="about-cards-wrapper">
                    {{> img-card class="about-cards__item" title="35" additional="чел" descr="Вместимость" bgSrc="images/img-cards/card-1.jpg"}}
                    {{> img-card class="about-cards__item" title="ПН-ВС"  descr="Без выходных" bgSrc="images/img-cards/card-1.jpg"}}
                </div>
            </div>
        </div>
    </div>
</section>