<section class="rooms" id="rooms">
    <div class="container">
        <div class="rooms-tab-control">
            <div class="rooms-tab-btn active" data-tab="1">
                <p class="rooms-tab-text">Комната №1</p>
            </div>
            <div class="rooms-tab-btn" data-tab="2">
                <p class="rooms-tab-text">Комната №2</p>
            </div>
        </div>
        <div class="rooms-tab-item active" data-tab="1">
            <div class="rooms-header">
                <h2 class="title white-txt rooms-header__title">
                    Комната №1<br> <span class="brand-txt">Богдановича 78:</span>
                </h2>
                <p class="txt white-txt rooms-header__descr">Мы создали интерьер, который точно  понравится маме, папе, бабушке, тете, дяде, детям, всем твоим друзьям, коллегам, начальнику и, главное, тебе.
                    У нас нет возрастных ограничений. Поэтому смело зови к нам всех на твое лучшее мероприятие.
                </p>
            </div>
            <div class="rooms-slider">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide rooms-slider__item">
                            <img class="rooms-slider__img rounded" src="images/rooms/slide-1.jpg" alt="slide-1">
                        </div>
                        <div class="swiper-slide rooms-slider__item">
                            <img class="rooms-slider__img rounded" src="images/rooms/slide-1.jpg" alt="slide-1">
                        </div>
                        <div class="swiper-slide rooms-slider__item">
                            <img class="rooms-slider__img rounded" src="images/rooms/slide-1.jpg" alt="slide-1">
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-btn swiper-btn-prev">{{> icon class="icon--brand" iconSrc="images/icons/arrow-left.svg" iconAlt="arrow-left"}}</div>
                    <div class="swiper-btn swiper-btn-next">{{> icon class="icon--brand" iconSrc="images/icons/arrow-right.svg" iconAlt="arrow-right"}}</div>
                </div>
            </div>
        </div>
        <div class="rooms-tab-item" data-tab="2">
            <div class="rooms-header">
                <h2 class="title white-txt rooms-header__title">
                    Комната №2<br> <span class="brand-txt">Богдановича 78:</span>
                </h2>
                <p class="txt white-txt rooms-header__descr">Мы создали интерьер, который точно  понравится маме, папе, бабушке, тете, дяде, детям, всем твоим друзьям, коллегам, начальнику и, главное, тебе.
                    У нас нет возрастных ограничений. Поэтому смело зови к нам всех на твое лучшее мероприятие.
                </p>
            </div>
            <div class="rooms-slider">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide rooms-slider__item">
                            <img class="rooms-slider__img rounded" src="images/rooms/slide-1.jpg" alt="slide-1">
                        </div>
                        <div class="swiper-slide rooms-slider__item">
                            <img class="rooms-slider__img rounded" src="images/rooms/slide-1.jpg" alt="slide-1">
                        </div>
                        <div class="swiper-slide rooms-slider__item">
                            <img class="rooms-slider__img rounded" src="images/rooms/slide-1.jpg" alt="slide-1">
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-btn swiper-btn-prev">{{> icon class="icon--brand" iconSrc="images/icons/arrow-left.svg" iconAlt="arrow-left"}}</div>
                    <div class="swiper-btn swiper-btn-next">{{> icon class="icon--brand" iconSrc="images/icons/arrow-right.svg" iconAlt="arrow-right"}}</div>
                </div>
            </div>
        </div>
    </div>
</section>