<footer class="footer" id="footer">
    <div class="footer-btn">
        {{> button class="btn--trans" text="Забронировать"}}
    </div>
    <div class="footer-contacts">
        <div class="footer-contacts__item">
            <a class="link footer-contacts__link white-txt" href="/">
                {{> icon class="icon--brand" iconSrc="./images/icons/location.svg"}}
                Минск, ул. Богдановича 78
            </a>
            <a class="link footer-contacts__link white-txt" href="tel:+375 29 361 55 87">
                {{> icon class="icon--brand" iconSrc="images/icons/phone.svg"}}
                +375 29 361 55 87
            </a>
        </div>
        <div class="footer-contacts__item">
            <a class="link footer-contacts__link white-txt" href="/">
                {{> icon class="icon--brand" iconSrc="./images/icons/location.svg"}}
                Минск, ул. Богдановича 78
            </a>
            <a class="link footer-contacts__link white-txt" href="tel:+375 29 361 55 87">
                {{> icon class="icon--brand" iconSrc="images/icons/phone.svg"}}
                +375 29 361 55 87
            </a>
        </div>
    </div>
    <div class="footer-social">
        <a class="link footer-social__link" href="/">
            {{> icon class="icon--nofilter" iconSrc="./images/icons/telega.svg"}}
        </a>
        <a class="link footer-social__link" href="/">
            {{> icon class="icon--nofilter" iconSrc="./images/icons/insta.svg"}}
        </a>
        <a class="link footer-social__link" href="/">
            {{> icon class="icon--nofilter" iconSrc="./images/icons/fb.svg"}}
        </a>
    </div>
    <div class="footer-rights">
        <p class="white-txt">© All Rights Reserve</p>
    </div>
</footer>