<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>
<body>
<div>SECOND PAGE</div>
<div>test</div>
<div>222</div>
{{> button text="забронировать"}}
{{> button class="btn--trans" text="забронировать"}}
{{> button class="btn--inst" text="Подписаться"}}

<h1>Lorem ipsum dolor sit amet</h1>
<h2>Lorem ipsum dolor sit amet.</h2>
<h3>Lorem ipsum dolor sit amet.</h3>
<p>Lorem ipsum dolor sit amet.</p>
<p class="crumbs">Lorem ipsum dolor sit amet.</p>
<a href="/">Link</a>
<a class="link--white" href="/">Link white</a>
{{> link href="pages/test.html" text="to page 2"}}

{{> input inputId="input-1" type="text" label="Test Input" placeholder="test place"}}
{{> input inputId="input-2" type="text" label="Test Input" placeholder="test place" disabled="disabled"}}

{{> icon iconClass="icon--" iconSrc="images/icons/menu.svg" iconAlt="icon alt"}}

<img src="images/main-bg.jpeg" alt="">
<div>TESTTTT</div>
</body>
</html>
